#s-70e2df30-7366-462e-ae29-2b7db5c41266 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Image_1 {
  position: absolute;
  top: 57px;
  left: 0px;
  width: 360px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Rectangle_19 {
  position: absolute;
  top: 592px;
  left: 0px;
  width: 360px;
  height: 48px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Rectangle_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Statusbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Panel_4 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Icons_5 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Label_30 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Image_9 {
  position: absolute;
  top: 601px;
  left: 263px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Image_25 {
  position: absolute;
  top: 601px;
  left: 161px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Image_26 {
  position: absolute;
  top: 601px;
  left: 63px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Image_2 {
  position: absolute;
  top: 193px;
  left: 97px;
  width: 147px;
  height: 139px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Text_1 {
  position: absolute;
  top: 147px;
  left: 135px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto,Arial;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 11.0pt;
  font-style: italic;
  font-weight: 200;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 11.0pt;
  font-style: italic;
  font-weight: 200;
  line-height: 0px;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Paragraph_1 {
  position: absolute;
  top: 342px;
  left: 19px;
  width: 324px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Paragraph_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}