#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-70e2df30-7366-462e-ae29-2b7db5c41266 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}