#s-862d1640-1e70-4bf2-8cf5-e1fe61952295 #s-Three-line-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-862d1640-1e70-4bf2-8cf5-e1fe61952295 #s-Picture_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-862d1640-1e70-4bf2-8cf5-e1fe61952295 #s-Three-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-862d1640-1e70-4bf2-8cf5-e1fe61952295 #s-Picture_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-862d1640-1e70-4bf2-8cf5-e1fe61952295 #s-Three-line-item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-862d1640-1e70-4bf2-8cf5-e1fe61952295 #s-Picture_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-862d1640-1e70-4bf2-8cf5-e1fe61952295 #s-Three-line-item_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-862d1640-1e70-4bf2-8cf5-e1fe61952295 #s-Picture_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-862d1640-1e70-4bf2-8cf5-e1fe61952295 #s-Three-line-item_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-862d1640-1e70-4bf2-8cf5-e1fe61952295 #s-Picture_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-862d1640-1e70-4bf2-8cf5-e1fe61952295 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-862d1640-1e70-4bf2-8cf5-e1fe61952295 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-862d1640-1e70-4bf2-8cf5-e1fe61952295 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-862d1640-1e70-4bf2-8cf5-e1fe61952295 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-862d1640-1e70-4bf2-8cf5-e1fe61952295 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-862d1640-1e70-4bf2-8cf5-e1fe61952295 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-862d1640-1e70-4bf2-8cf5-e1fe61952295 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-862d1640-1e70-4bf2-8cf5-e1fe61952295 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-862d1640-1e70-4bf2-8cf5-e1fe61952295 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}