#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Input_6 INPUT {
  font-family: Arial;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Button_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}