#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Button_17 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 337px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Button_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #8AD9D2;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #8AD9D2;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #8AD9D2;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #8AD9D2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 337px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Button_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d927292f-26b8-4e7f-84a6-da891adea2ce > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}